snippet template "start note" b
\documentclass[a4paper]{article}
\usepackage{amsmath, graphicx}

\setlength{\parindent}{0em}
\sentlength{\parskip}{1em}

\title{}
\author{}
\date{}

\begin{document}

\maketitle

\section{}

\end{document}

endsnippet
