snippet newnote
\documentclass[a4paper]{article}

\usepackage{amsmath, graphicx}

\setlength{\parindent}{0em}
\setlength{\parskip}{1em}

\title{$1}
\author{$2}
\date{$3}

\begin{document}

\maketitle

\section{$4}

\end{document}
endsnippet

snippet itemize
\begin{itemize}
	\item $1
\end{itemize}
endsnippet

snippet enumerate
\begin{enumerate}
	\item $1
\end{enumerate}
endsnippet

snippet B
\textbf{$1}$2
endsnippet

snippet I
\textit{$1}$2
endsnippet

